/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

body {
    background-color: lightgray;
    margin: 0;
  }
  h1 {
    color: gold;
    text-align: center;
    font-size: 36px;
    font-family: Arial;
  }
  img{
    border: 2px solid black;
  }
  div.content {
     display: flex;
     flex-direction: column;
     width: 50%;  
     justify-content: center;
     align-items: center;
     margin-top: 10%;
     margin-left: 25%;
  }
  ul {
    font-family: Verdana;
  }
  p {
    color: white;
    font-style: italic;
    font-size: 20px;
    font-family: Helvetica;
  }
  header {
    background-color: blue;
    border: 1px solid blue;
  }
  footer {
    position: absolute;
    bottom: 0;
    border: 1px solid blue;
    background-color: blue;
  }